@import url('https://fonts.googleapis.com/css2?family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Praise&family=Tinos&display=swap');

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'Tinos', serif;
}

div.main-content {
    height: 120vh;
}

div.main-content > div.top-section > nav.top-nav-bar {
    font-size: 22px;
    width: 100vw;
    height: 50px;
    background-color: orange;
    border-top: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color:rgb(230, 228, 228);
    color: black;
}

div.main-content > div.top-section > nav.top-nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
div.main-content > div.top-section > nav.top-nav-bar > ul > li {
    float: left;
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 35px;
    font-variant: small-caps;
}

div.main-content > div.top-section > nav.top-nav-bar > ul > li:first-of-type {
    float: left;
    display: block;
    padding-left: 10px;
    font-family: 'Praise', cursive;
}
  
div.main-content > div.top-section > nav.top-nav-bar > ul > li > a {
    display: inline-block;
    color: black;
    text-decoration: none;
}

div.main-content > div.top-section > nav.top-nav-bar > ul > li + li > a:hover {
    color: white;
    cursor: pointer;
}

div.main-content > div.top-section > nav.top-nav-bar > ul > li:first-of-type > a::first-letter {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    margin-right: 4px;
}

div.main-content > div.top-section > nav.top-nav-bar > ul > li:first-of-type > a:hover:first-letter {
    background-color: white;
    color: black;
    cursor: pointer;
}

div.main-content > div.top-section {
    background-image: url('./assets/food.jpg');
    background-size: cover;
    width: 100vw;
    height: 60vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

div.main-content > div.top-section > em {
    padding-left: 32px;
    padding-bottom: 15px;
    font-style: normal;
    font-size: 60px;
}

div.main-content > div.recent-recipes-container {
    height: 60vh;
    width: 100vw;
    background-color: white;
}

div.main-content > div.recent-recipes-container > h1 {
    margin-left: 40px;
    font-size: 32px;
}

div.main-content > div.recent-recipes-container > ol {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

div.main-content > div.recent-recipes-container > ol > li {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgb(247, 247, 247);
    height: 400px;
    width: 30vw;
    min-width: 275px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

div.main-content > div.recent-recipes-container > ol > li:last-of-type {
    margin-bottom: 200px;
}

div.main-content > div.recent-recipes-container > ol > li > img {
    width: 80%;
    height: 60%;
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-top: 4px;
    box-shadow: 3px 5px 6px black;
}

div.main-content > div.recent-recipes-container > ol > li > img:hover {
    filter: brightness(1.25);
    cursor: pointer;
}

div.main-content > div.recent-recipes-container > ol > li > p {
    width: 80%;
    height: 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

div.main-content > div.recent-recipes-container > ol > li > a > button {
    border-radius: 0;
    border-color: black;
    background-color: orange;
    width: 80%;
    height: 25px;
    font-size: 16px;
}

div.main-content > div.recent-recipes-container > ol > li > a > button:hover {
    background-color: rgb(190, 133, 28);
    color: white;
    cursor: pointer;
}

footer.main-footer {
    border-top: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: black;
    background-color: orange;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

footer.main-footer > div.mission-statement {
    float: left;
    width: 50%;
}

footer.main-footer > div.connect-with-us {
    float: left;
    height: 90px;
    width: 50%;
}


footer.main-footer > div.mission-statement > h1 {
    margin: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

footer.main-footer > div.mission-statement > p {
    margin: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 16px;
}

footer.main-footer > div.connect-with-us > h1 {
    margin: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 24px;
    margin-bottom: 5px;
}

footer.main-footer > div.connect-with-us > ul {
    list-style-type: none;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0px;
    padding-left: 0px;
}

footer.main-footer > div.connect-with-us > ul > li > a {
    margin: 0px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

footer.main-footer > div.connect-with-us > ul > li > a:hover {
    color: blue;
    cursor: pointer;
}

footer.main-footer > p {
    display: inline-block;
    vertical-align: bottom;
    width: 100vw;
    top: 0px;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 10px;
    font-size: 16px;
}