body {
    margin: 0;
}

nav.top-nav-bar {
    font-size: 22px;
    width: 100vw;
    height: 50px;
    background-color: orange;
    margin-top: 10px;
    color: black;
}

nav.top-nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav.top-nav-bar > ul > li {
    float: left;
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 35px;
}

nav.top-nav-bar > ul > li:first-of-type {
    float: left;
    display: block;
    padding-left: 10px;
}
  
nav.top-nav-bar > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
}

nav.top-nav-bar > ul > li:first-of-type > a::first-letter {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav.top-nav-bar > ul > li:first-of-type > a:hover:first-letter{
    background-color: white;
    color: black;
}

div.top-section {
    background-image: url('./assets/food.jpg');
    background-size: cover;
    width: 100vw;
    border: 2px;
    border-style: solid;
    border-color: blue;
    height: 60vh;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

div.top-section > em {
    padding-left: 20px;
    padding-bottom: 15px;
    font-style: normal;
    font-size: 60px;
}

div.recent-recipes-container {
    border: 2px;
    border-style: solid;
    border-color: red;
    height: 60vh;
    width: 100vw;
    background-color: white;
    overflow: scroll;
    display: flex;
}

div.recent-recipes-container > ol {
    list-style-type: none;
}

div.recent-recipes-container > ol > li > div.recipe {
    border: 2px;
    border-style: solid;
    border-color: purple;
    background-color: rgb(247, 247, 247);
    height: 400px;
    width: 30vw;
    overflow: scroll;
    text-align: center;
}

div.recent-recipes-container > ol > li > div.recipe > img {
    width: 80%;
    height: 60%;
    display: inline-block;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    margin-top: 4px;
}

div.recent-recipes-container > ol > li > div.recipe > p {
    display: inline-block;
    width: 80%;
}

div.recent-recipes-container > ol > li > div.recipe > button {
    display: inline-block;
    width: 80%;
}
